*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background: linear-gradient(135deg, rgb(111, 122, 221),rgb(209, 102, 189));
    display: flex;
    justify-content: center;
}
h1{
    text-align: center;
    position: fixed;
    top: 50px;
    color: #fff;
    text-shadow: 5px 5px 10px black;
}
#container{
    width: 450px;
    margin-top: 15px;
    border: 2px solid white;
    border-radius: 2px;
    position: absolute;
    top: 100px;
    left: 550px;
    padding: 30px;
}
#push{
    display: flex;
    justify-content: space-between;
    border: 1px solid rgb(249, 233, 233);
    padding: 15px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.3);
    background-color: #fff;
    border-radius: 6px;
}
#input{
    width: 250px;
    height: 40px;
    border-radius: 5px;
    border-width: 0.5px;
    outline-color: rgb(124, 123, 233);
    padding-left: 10px;
}
#btn{
    font-size:15px;
    width: 50px;
    border-radius: 5px;
    border-width: 0.5px;
    background-color: rgba(139, 49, 229, 0.799);
    outline: none;
    color: #fff;
    cursor: pointer;
}
#pushed{
    background-color: #ffffff;
    padding: 30px 20px;
    margin-top: 40px;
    border-radius: 10px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.3);
    width: 100%;
    position: relative;
}
.task{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    font-size: larger;
    border-bottom: 0.8px solid gray;
}
#taskname{
    margin: 0;
    padding: 0;
}
.delete{
    padding:3px ;
    background-color: rgb(177, 34, 238);
    font-size: 15px;
    border-radius:5px ;
    cursor: pointer;

}

